.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 10px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  margin: -47px auto;
  background: white;
  color: black;
}
.navbar-inverse {
  background: #92CD00;
  color: black;
  z-index:9999;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #666633;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #666633;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #666633;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #666633;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #666633;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #666633;
  color: #ffffff;
}

body {
  align: center;
  z-index: 0;
}
.cal{
  font-family: Calibri;
  font-size: 15px;
}

.affix {
  top: 0px;
  left: 0px;
  right: 0px;
}

/* Not important */
.footer {
  background: #eee;
}

#footer{
  height: 50px;
  background-color: #92CD00;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

@media screen and (min-device-width: 1367px) {
    body
    {
      width: 70%;
      align: center;
      z-index: 0;
      margin-left: 15%;
    }
}

.dl-horizontal dt 
{
    white-space: normal;
    width: 30px; 
}

.dl-horizontal dd {
    margin-left: 50px;
}

.ab:link {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.ab:visited {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.ab:hover, .ab:focus {
  text-decoration: underline;
  color: black;
}

h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
} 

.brdr {
  border:1px solid black;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.stripe-1 {
  color: black;
  background:  #86942A;
}

.stripe-2 {
  color: white;
  background:  black;
}